C:/Users/User/stepik_final_project/__pycache__/
C:/Users/User/stepik_final_project/pages/__pycache__/
__pycache__/__init__.cpython-39.pyc
__pycache__/conftest.cpython-39-pytest-6.2.4.pyc
__pycache__/test_main_page.cpython-39-pytest-6.2.4.pyc
